language: android
sudo: required
os:
  - linux
jdk:
  - oraclejdk8
android:
  components:
    - tools
    - build-tools-26.0.1
    - platform-tools
    - extra-android-m2repository
    - extra-google-android-support
    - android-26
before_script:
    - wget http://services.gradle.org/distributions/gradle-3.3-all.zip
    - unzip gradle-3.3-all.zip > /dev/null
    - export GRADLE_HOME=$PWD/gradle-3.3
    - export PATH=$GRADLE_HOME/bin:$PATH
    - . $HOME/.nvm/nvm.sh
    - nvm install 7
    - nvm use 7
script:
  - npm i
  - npm run ci
